body {
  margin: 0;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-container {
  padding: 3px 8px;

  display: flex;
  justify-content: center;
}

.search-container input {
  margin-right: 6px;

  padding: 4px 6px;

  border-radius: 4px;
  border: 1px solid #ccc;

  outline: none;
}

.search-container input:hover {
  border-color: #aaa;
}

.search-container button {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  outline: none;
}

.search-container button:hover {
  border-color: #aaa;
}

svg {
  height: 25px;
  width: 25px;
}

svg circle {
  stroke: black;
  stroke-width: 5px;
  fill: transparent;
}

svg line {
  stroke: black;
  stroke-width: 5px;
}

button:hover circle {
  fill: #ddd;
}


ul.listings {
  list-style: none;
  padding-left: 30px;

  margin: 0;

  height: calc(60vh - 33px);
  overflow-y: auto;
}

ul.listings li {
  display: flex;
  padding: 6px;
}

ul.listings img {
  width: 50px;
  height: 50px;
}

.listing-container {
  padding-left: 6px;
}

.listing-container span {
  color: #999;
  font-size: 0.875rem;
}

.listing-container a {
  padding-left: 4px;
  text-decoration: none;
}

.listing-container a:hover {
  text-decoration: underline;
}

.listing-container div span::before {
  content: "$";
}

.listing-container div span::after {
  content: ".99";
}


.listing-container div {
  padding: 4px 0;
}

.listing-container div span {
  border: 1px #666 solid;
  color: black;
  border-radius: 4px;
  padding: 4px;

  font-size: 0.75rem;
  font-weight: lighter;
}


.add-listing-form {
  height: calc(40vh - 2px);
  width: 100%;
  background-color: #ccc;
  border-top: 2px dotted black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.add-listing-form input {
  display: block;
}

.add-listing-form button {
  border-radius: 4.20px;
  color: hotpink;
  background-color: pink;
  border-color: fuchsia;
}
